// color variables
$inverted: rgb(255,255,255); // #fff

$highlight: #64BECD;
$separator: #979797;
$alternate: #fafafa;


// breakpoint variables
$bp-large: 700px;
$bp-medium: 500px;
$bp-small: 300px;
