@import "library/reset";
@import "library/foundation";
@import "library/buttons";
@import "library/svg";

@import "library/forms";
@import "library/modals";

@import "library/helpers";

.content-header,
.section-contain,
.content-footer { text-align: center; }

.content-header,
.section-intro,
[class*="bg-"] {
  @include susy-breakpoint($bp-small) { padding: 50px 0; }
  @include susy-breakpoint($bp-large) { padding: 100px 0; }
}

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  color: $highlight;
}
p {
  font-size: 20px;
  line-height: 1.75;
  @include susy-breakpoint($bp-large) {
    font-size: 28px;
  }
}
address { font-style: normal; }


.container {
  max-width: 930px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

[class*="bg-"] {
  overflow: hidden;
  @include transition(padding, .75s, ease-in-out);

  @include susy-breakpoint($bp-small) {
    @include transition(padding, .75s, ease-in-out);
    &.contact-open {
      padding: 25px 0;
      @include transition(padding, .75s, ease-in-out);
    }
  }
}

.bg-alternate {
  border-top: 1px solid $separator;
  border-bottom: 1px solid $separator;
  background-color: $alternate;
}
.bg-highlight {
  background-color: $highlight;
}

// Footer
.copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 0;
}
