@import "library/reset";
@import "library/foundation";
@import "components/buttons";
@import "components/svg";

@import "components/forms";

@import "library/helpers";

.content-header,
.section-contain,
.content-footer {
  text-align: center;
}

.content-header,
.section-contain {
  padding: 3em 0;
}

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  color: $highlight;
}
address {
  font-style: normal;
}


.container {
  max-width: 930px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

[class*="bg-"] {
  padding: 50px 0;
  overflow: hidden;
}

.bg-alternate {
  border-top: 1px solid $separator;
  border-bottom: 1px solid $separator;
  background-color: $alternate;
}
.bg-highlight {
  background-color: $highlight;
}

// Footer
.copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 0;
}
