@import "library/reset";
@import "library/foundation";
@import "components/buttons";

.content-header,
.section-contain,
.content-footer {
  text-align: center;
}

.content-header,
.section-contain {
  padding: 3em 0;
}

.container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  color: $highlight;
}
address {
  font-style: normal;
}
.svg-logo,
.svg-footer-logo {
  max-height: 100%;
  max-width: 100%;
  width: 500px;
}
.svg-logo {
  width: 500px;
}
.svg-footer-logo {
  width: 250px;
}

.container {
  max-width: 930px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

[class*="bg-"] {
  padding: 50px 0;
  overflow: hidden;
}

.bg-alternate {
  border-top: 1px solid $separator;
  border-bottom: 1px solid $separator;
  background-color: $alternate;
}
.bg-highlight {
  background-color: $highlight;
}

// Leadership Team
.leadership-team--list {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
}
.leader {
  margin: 100px 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.leader-meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.leader-name { display: block; }
.leader-title { display: block; }
.leader-image {
  border: 4px solid $highlight;
  padding: 10px;
  border-radius: 100%;
  margin-right: 40px;
}


// Footer
.copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
}
