@import "../library/foundation";

.content-header {
  overflow: hidden;
  position: relative;
  text-align: center;
  background-image: image-url('hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparentize(#000, .4);
    content: " ";
  }
}
.container {
  position: relative;
  z-index: 2
}

.header-caption {
  color: $inverted;
  font-size: 40px;
  @include susy-breakpoint($bp-large) {
    font-size: 60px;
  }
}

.section-intro {
  .intro {
    margin-top: 0;
    + p { margin-bottom: 0; }
  }
}

.section-leadership {
  .section-title { margin-top: 0; }
}
